@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

:root {
  --gray-light: rgb(171, 171, 171);
  --gray-dark: rgb(36, 36, 36);
  --blue-light: rgb(0, 245, 208);
  --blue-dark: rgb(0, 163, 158);
  --bark: rgb(124 73 53);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Tilt Warp', cursive;
  transition: 0.3s;
  scroll-behavior: smooth;
}

/* .none__Board {
  height: 1000px;
} */

.fa-comment-dots {
  transform: scaleX(-1);
}

header {
  width: 100%;
  height: 56px;
  overflow: hidden;
  
  /* border-bottom: 1px solid black; */
}

/* img {
  object-fit: cover;
  width: 100%;
  height: 100%;
} */

.wrapper {
  position: relative;
  max-width: 1100px;
  height: 56px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 16px; */
  /* border: 1px solid red; */
}

.header__left{
  height: 56px;
  display: flex;
  align-items: center;
}

.header__left img {
  height: 34px;
}

.header__right {
  height: 56px;
  display: flex;
  align-items: center;
  background-color: #dc0e0e;
  /* padding-right: 16px; */
}

.header__right div {
  padding-left: 36px;
}

.header__lang__switch {
  display: flex;
  align-items: center;
  color: white;
  text-transform: uppercase;
}

.header__lang__switch i {
  margin-left: 5px;
}

.header__social {
  display: flex;
}

.header__social i {
  color: white;
  padding: 10px;
  border-radius: 50%;
  
}

.header__social i:hover {
  background-color: rgba(171, 171, 171, 0.6);
}

.header__user {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__user:hover {
  cursor: pointer;
}

.header__user i {
  color: white;
}

.header__user:hover h1{
  color: rgba(171, 171, 171, 0.6);
}

.header__right::after {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100vw;
  height: 100%;
  background-color: #dc0e0e;
  content: "";
}

.header__user i {
  background-color: rgba(171, 171, 171, 0.6);
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.header__user h1 {
  color: white;
  font-size: 16px;
  letter-spacing: 1.5px;
}

.top__navbar {
  width: 100%;
  height: 56px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  z-index: 999;
}

.top__navbar .warpper {
  height: 56px;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 16px; */
}

.mainnav__list {
  display: flex;
  align-items: center;
  margin-left: 14px;
}

.mainnav__item a {
  color: white;
  margin-right: 24px;
  font-size: 14px;
}

.mainnav__item a:hover {
  color: var(--gray-light);
}

.nav__left img {
  margin-top: 10px;
  height: 34px;
}

.content {
  width: 100%;
}

.warpper__grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 4fr 300px;
  gap: 1rem;
  /* border: 1px solid red; */
}

.content-grid__main {
  /* border: 1px solid red; */
  width: 100%;
  /* overflow: hidden; */
}

.content-grid__main .top-news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.top-news .card {
  position: relative;
  z-index: 0;
  overflow: hidden;
  text-shadow: black 1px 1px 10px;
}

.top-news .card:first-child {
  grid-column: 1/3;
  grid-row: 1/3;
}

.top-news .card img {
  width: 100%;
}

.top-news .card .card__content {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}

.top-news .card:hover img {
  transform: scale(1.1);
}

.top-news .card:first-child .card__tag {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}

.top-news .card .card__content {
  color: white;
}

.top-news .card .card__footer i {
  color: var(--gray-light);
}

.top-news .card:first-child .card__footer {
  margin-top: 1rem;
  font-size: 0.6rem;
}

.top-news .card:nth-child(n + 2) .card__tag {
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}

.top-news .card:nth-child(n + 2) .card__title {
  font-size: 1rem;
}

.top-news .card:nth-child(n + 2) .card__footer {
  font-size: 0.6rem;
  margin-top: 1rem;
}

.card__footer span {
  margin-right: 1rem;
}

.main-news {
  width: 100%;
  /* border: 1px solid red; */
}

.main-news .card-news {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  height: auto;
  margin-top: 1rem;
}

.main-news .card-news:hover {
  cursor: pointer;
}

.main-news .card-news .picture {
  width: 500px;
  height: 170px;
  overflow: hidden;
}

.main-news .card-news img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-news .card-news:hover img {
  transform: scale(1.1);
}

.main-news .card-news .content {
  border: 1px solid rgba(128, 128, 128, 0.5);
  padding: 1rem;
  position: relative;
}

.main-news .card-news .content .category {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #dc0e0e;
  font-style: italic;
}

.main-news .card-news .content .title {
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: 100;
}

.main-news .card-news .content .footer {
  position: absolute;
  bottom: 1rem;
  font-size: 0.7rem;
  color: var(--gray-light);
}

.main-news .card-news .content .footer span {
  margin-right: 1rem;
}

.footer-main-news {
  position: relative;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
}

.footer-main-news .more-news {
  position: absolute;
  right: 0;
  background-color: #0c0c0f;
  color: white;
  border: 0;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
}
.footer-main-news .more-news i {
  margin-left: 0.3rem;
}

.footer-main-news .more-news:hover {
  background-color: rgba(12, 12, 15, 0.5);
  cursor: pointer;
}

.content__videos .title__video {
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.1rem;
  position: relative;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  padding-bottom: 1.5rem;
}

.content__videos .title__video::before {
  position: absolute;
  background-color: #dc0e0e;
  width: 90px;
  height: 4px;
  bottom: -1px;
  content: "";
}

.content__videos .title__video::after {
  position: absolute;
  bottom: -1px;
  left: 90px;
  width: 0;
  height: 0;
  /* border-top: 0 solid transparent; */
  border-bottom: 4px solid transparent;
  border-left: 2px solid #dc0e0e;
  content: "";
}

.list__videos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.card__video {
  margin-top: 2rem;
  width: 250px;
}

.card__video:hover {
  cursor: pointer;
}

.card__video:hover .picture img {
  transform: scale(1.1);
}

.card__video .picture {
  overflow: hidden;
  position: relative;
  /* border: 1px solid #dc0e0e; */
}

.card__video .picture img {
  object-fit: cover;
  width: 100%;
}

.card__video .picture i {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background-color: #dc0e0e;
  width: 2rem;
  height: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.card__content-video .title {
  font-size: 1rem;
  font-weight: 100;
}

.card__content-video .title i {
  font-size: 0.5rem;
  background-color: #dc0e0e;
  width: 1rem;
  height: 1rem;
  color: white;
  text-align: center;
  padding: 0.3rem;
  border-radius: 1rem;
  margin-right: 0.3rem;
}

.card__content-video .footer {
  color: rgba(128, 128, 128, 0.5);
  font-size: 0.6rem;
  height: 2rem;
  display: flex;
  align-items: center;
}

.card__content-video .footer p {
  margin-left: 0.2rem;
  margin-right: 1rem;
}

.footer-content-video {
  position: relative;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
}

.footer-content-video .more-videos {
  position: absolute;
  right: 0;
  background-color: #0c0c0f;
  color: white;
  border: 0;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
}
.footer-content-video .more-videos i {
  margin-left: 0.3rem;
}

.footer-content-video .more-videos:hover {
  background-color: rgba(12, 12, 15, 0.5);
  cursor: pointer;
}

.content-grid__side {
  /* border: 1px solid red; */
  width: 100%;
}

.content-grid__side .latest-news .title, .f1-standings .title, .f1-calendar .title {
  background-color: #dc0e0e;
  color: white;
  text-transform: uppercase;
  font-size: 0.4rem;
  padding: 0.7rem;
  font-style: italic;
  letter-spacing: 0.1rem;
}

.content-grid__side .latest-news {
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-top: 0;
}

.latest-news .list-news .card-news {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 0.5rem;
  font-size: 0.7rem;
}

.latest-news .list-news .card-news:nth-child(n + 2) {
  border-top: 1px solid rgba(128, 128, 128, 0.5);
}

.latest-news .list-news .card-news .date {
  color: rgba(128, 128, 128, 0.9);
}

.latest-news .list-news .card-news .footer  {
  margin-top: 0.5rem;
  color: rgba(128, 128, 128, 0.9);
}

.btn-news, .btn-standing, .btn-calendar {
  border-top: 1px solid rgba(128, 128, 128, 0.5);
  text-align: center;
  padding: 1rem;
}

.btn-news i, .btn-standing i, .btn-calendar i {
  margin-left: 0.5rem;
}

.btn-news .more-news, .btn-standing .btn-fullstanding, .btn-calendar .btn-fullcalendar {
  padding: 0.8rem 0;
  width: 100%;
  color: white;
  text-transform: uppercase;
  border: 0;
  background-color: #0c0c0f;
  border-radius: 0.2rem;
}

.btn-news .more-news:hover, .btn-standing .btn-fullstanding:hover, .btn-calendar .btn-fullcalendar:hover {
  cursor: pointer;
  background-color: rgba(12, 12, 15, 0.5);
}

/**/
.f1-calendar .title {
  background-color: #dc0e0e;
  color: white;
  text-transform: uppercase;
  font-size: 0.4rem;
  padding: 0.7rem;
  font-style: italic;
  letter-spacing: 0.1rem;
}

.f1-standings, .f1-calendar {
  margin-top: 2rem;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-top: 0;
}

.f1-standings .panel {
  display: flex;
  text-align: center;
  justify-content: space-around;
  background-color: #26262a;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  padding: 0.5rem 0;
  position: relative;
}

.f1-standings .panel::after {
  position: absolute;
  width: 50%;
  bottom: 0;
  left: 0;
  border-right: 2px solid transparent;
  border-bottom: 5px solid #dc0e0e;
  content: "";
}

.f1-standings .panel h3:first-child {
  color: white;
  width: 50%;
}

.f1-standings .panel h3:last-child {
  width: 50%;
  color: #a8a8aa;
}

.f1-standings .panel h3:last-child:hover {
  color: white;
  cursor: pointer;
}

.f1-calendar table {
  border-collapse: collapse;
}

.f1-calendar thead {
  font-size: 0.7rem;
  height: 1.5rem;
}

.f1-calendar tr {
  border-top: 1px solid rgba(128, 128, 128, 0.5);
}

.f1-calendar thead tr {
  border-top: 0;
}

.f1-calendar th:first-child {
  width: 70%;
}

.f1-calendar th:first-child {
  text-align: start;
  padding-left: 1rem;
}

.f1-calendar th:last-child {
  text-align: end;
  padding-right: 1rem;
}

.f1-calendar tbody tr td div:first-child {
  /* background-color: antiquewhite; */
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  font-size: 0.7rem;
}

.f1-calendar tbody tr td div:first-child img {
  height: 16px;
  border-radius: 3px;
  margin-right: 0.4rem;
}

.f1-calendar tbody tr td div:first-child p:last-child {
  color: rgba(128, 128, 128, 0.5);
  font-size: 0.5rem;
}

.f1-calendar tbody tr td:last-child {
  /* background-color: aqua; */
  text-align: end;
  padding-right: 1rem;
  font-size: 0.7rem;
}

.f1-standings table {
  border-collapse: collapse;
  width: 100%;
}

.f1-standings thead {
  font-size: 0.7rem;
  height: 1.5rem;
}

.f1-standings th:first-child, .f1-standings td:first-child {
  text-align: start;
  padding-left: 1rem;
}

.f1-standings th:nth-child(2), .f1-standings td:nth-child(2) {
  text-align: start;
  padding-left: 0.5rem;
}

.f1-standings th:nth-child(3), .f1-standings td:nth-child(3) {
  text-align: end;
  padding-right: 1rem;
}

.f1-standings tbody {
  font-size: 0.6rem;
}

.f1-standings tr {
  border-top: 1px solid rgba(128, 128, 128, 0.5);
}

.f1-standings tbody td {
  padding: 0.5rem;
}

.f1-standings tbody .about-driver {
  display: flex;
}

.f1-standings tbody .about-driver .driver {
  height: 32px;
  border-radius: 1rem;
  margin-right: 0.5rem;
}

.f1-standings tbody .about-driver img {
  height: 10px;
  margin-right: 0.2rem;
}

.f1-standings tbody .about-driver p:first-child {
  font-size: 0.8rem;
}

.f1-standings tbody .about-driver p span {
  text-transform: uppercase;
}

.f1-standings tbody .about-driver p:last-child {
  color: rgba(128, 128, 128, 0.5);
}

.f1-standings .redbull {
  border-left: 3px solid #3671C6;
}

.f1-standings .aston {
  border-left: 3px solid #358C75;
}

.f1-standings .mercedes {
  border-left: 3px solid #6CD3BF;
}

.f1-standings .ferrari {
  border-left: 3px solid #F91536;
}

footer {
  background-color: #111115;
  color: white;
  width: 100%;
  padding: 5rem 0;
  padding-bottom: 1rem;
}

.warper-footer {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 1rem;
  /* align-items: center; */
  justify-content: space-between;
  color: #888888;
}

.warper-footer a {
  color: white;
}

.warper-footer h3 {
  text-transform: uppercase;
  font-style: italic;
  font-weight: 100;
  color: white;
}

.footer-about p {
  margin-top: 1rem;
}

.footer-about a:hover {
  border-bottom: 1px solid white;
}

.footer-social h3 {
  margin-bottom: 1rem;
}

.footer-social .listitem {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.footer-social .listitem a {
  margin-bottom: 1rem;
}

.footer-social .listitem i {
  margin-right: 1rem;
}

.footer-more h3 {
  margin-bottom: 1rem;
}

.footer-more .listitem {
  display: flex;
  flex-direction: column;
}

.footer-more .listitem a {
  margin-bottom: 1rem;
}

.footer-more .listitem i {
  margin-right: 1rem;
}

.footer-credit {
  grid-column: 1/5;
  grid-row: 2/3;
  text-align: center;
  margin-top: 5rem;
  text-transform: uppercase;
  color: #888888;
}

.footer-credit a:hover {
  border-bottom: 1px solid white;
}

@media (max-width:480px) {
  header .wrapper {
    max-width: 480px;
  }

  .top__navbar .warpper {
    max-width: 480px;
    overflow: hidden;
  }

  .nav__right, .mainnav__item:nth-child(n+6) {
    display: none;
  }
  
  .warpper__grid {
    max-width: 480px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .content-grid__main .top-news {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .top-news {
    width: 100%;
    max-width: 480px;
  }

  .top-news .card:first-child {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .top-news .card:first-child .card__tag {
    font-size: 0.6rem;
  }

  .top-news .card:first-child .card__title {
    font-size: 1rem;
  }
  
  .top-news .card:first-child .card__footer {
    font-size: 0.6rem;
    margin-top: 1rem;
  }

  .main-news {
    max-width: 480px;
  }

  .main-news .card-news .picture {
    width: 300px;
    height: 100px;
  }

  .main-news .card-news .content {
    padding: 0.4rem;
  }

  .main-news .card-news .content .title {
    margin-top: 0.5rem;
    font-size: 0.8rem;
  }

  .main-news .card-news .content .footer {
    font-size: 0.5rem;
    bottom: 0.4rem;
  }
  .list__videos {
    padding-top: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .card__video {
    margin-top: 0rem;
    width: 480px;
  }

  .warper-footer {
    max-width: 480px;
  }

  .latest-news, .f1-standings, .f1-calendar {
    margin: 1rem 0.5rem;
  }

  .warper-footer {
    padding: 0 1rem;
    font-size: 0.5rem;
  }

  .footer-social .listitem i {
    margin-right: 0.3rem;
  }

  .footer-more .listitem i {
    margin-right: 0.3rem;
  }
}