@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

:root {
  --gray-light: rgb(171, 171, 171);
  --gray-dark: rgb(36, 36, 36);
  --blue-light: rgb(0, 245, 208);
  --blue-dark: rgb(0, 163, 158);
  --bark: rgb(124 73 53);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Tilt Warp', cursive;
  transition: 0.3s;
  scroll-behavior: smooth;
}

.none__Board {
  height: 1000px;
}

header {
  width: 100%;
  height: 56px;
  overflow: hidden;
  
  /* border-bottom: 1px solid black; */
}

.wrapper {
  max-width: 1100px;
  height: 56px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.header__left{
  height: 56px;
  display: flex;
  align-items: center;
}

.header__left img {
  height: 34px;
}

.header__right {
  position: relative;
  height: 56px;
  display: flex;
  align-items: center;
  background-color: var(--blue-light);
  /* padding-right: 16px; */
}

.header__right div {
  padding-left: 36px;
}

.header__lang__switch {
  display: flex;
  align-items: center;
  color: white;
  text-transform: uppercase;
}

.header__lang__switch i {
  margin-left: 5px;
}

.header__social {
  display: flex;
}

.header__social i {
  color: white;
  padding: 10px;
  border-radius: 50%;
  
}

.header__social i:hover {
  background-color: rgba(171, 171, 171, 0.6);
}

.header__user {
  display: flex;
  align-items: center;
}

.header__user::after {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100vw;
  height: 100%;
  background-color: var(--blue-light);
  content: "";
}

.header__user i {
  background-color: rgba(171, 171, 171, 0.4);
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.header__user h1 {
  color: white;
  font-size: 16px;
  letter-spacing: 1.5px;
}

.top__navbar {
  width: 100%;
  height: 56px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  z-index: 999;
}

.top__navbar .warpper {
  height: 56px;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.mainnav__list {
  display: flex;
  align-items: center;
  margin-left: 14px;
}

.mainnav__item a {
  color: white;
  margin-right: 24px;
  font-size: 14px;
}

.mainnav__item a:hover {
  color: var(--gray-light);
}

.nav__left img {
  margin-top: 10px;
  height: 34px;
}

main .content {
  width: 100%;
}

.warpper__grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 300px;
}

.content-grid__main {
  border: 1px solid red;
}

.content-grid__main .top-news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.top-news .card {
  position: relative;
  z-index: 0;
}

.top-news .card:first-child {
  grid-column: 1/3;
  grid-row: 1/3;
}

.top-news .card img {
  width: 100%;
}

.top-news .card .card__content {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}

.content-grid__side {
  border: 1px solid red;
}